.navbar {
  display: flex;
  align-items: center;
  background-color: #000; 
  padding: 10px 20px;
}

.navbar-logo img {
  height: 100px; 
}

.navbar-links {
  display: flex;
  gap: 20px; 
  margin-left: 20px; 
}

.nav-link {
  color: white;
  font-weight: bold; 
  text-decoration: none;
  font-size: 24px; 
}

.nav-link:hover {
  color: gold;
}


body {
  background-image: url('/dark-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
}